* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background: linear-gradient(rgba(3, 3, 3, 0.672), rgba(22, 22, 22, 0.72)),
    center center / cover url("../images/back1.jpg");
}

header img {
  width: 170px;
  height: 100px;
}
#article {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  display: flex;

  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding: 50px;
  width: 350px;

  background-color: #000000BF;
}
#input input {
  padding :15px 15px 15px;
  Background-color:#333;
  border: 0;
  width: calc(100% - 30px );
  margin: 10px 0;
  border-radius: 4px;
  outline:none;
 
  
}
#content #header {
  width: 350px;

}
#header h1 {
  font-size: 30px;
}
#article div input::placeholder {
  color:rgba(247, 239, 239, 0.582);
}
#remeber{
  margin:10px 0;
  display:flex;
  justify-content: space-between;
}
#footer {
margin-top: 50px;
}
footer {
  height: 300px;
}
#button  button{
background-color: red;
padding: 15px ;
width:  100%;
border-radius: 4px;
border-style: none;
}
